*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {display:none;}
body{
    font-family:'Poppins', sans-serif;
}
a{
    cursor: pointer;
}
.whole{
    margin-top: 8%;
}
.nav-logo{
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-left:100px;

}
.nav-bar{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-top:60px;
    
    align-items: center;
}
nav{
    display: flex;
    gap: 40px;
    color: black;
    margin-left: 47px;
    
   
}
.splash h1{
    font-size:50px;
    margin-top:-1%;
    margin-left: 9%;
}
.icons{
    font-size: 30px;
    display: flex;
    gap:60px;
    margin-left:40%;
}

nav a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
   font-size: 25px;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
}
.nav-right{
    display: flex;
    gap: 50px;
    margin-left:400px;
    align-items: center;
    font-size: 28px;

}
.whole{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 6%;

}
.nav-right{
    display: flex;
    gap: 50px;
    padding-right:100px;
    align-items: center;
}
span h1{
    font-size: 40px;
    text-align: center;
    margin-top:55px;
    font-weight: 500;

}
.whole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:35px;
    margin-top: 30px;

}
input{
    width:818px;
}
.inp{

display: flex;
padding: 16px;
width: 818px;
height:42px;
background: #FFFFFF;
border: 1px solid #A0A0A0;
}
.message{
    height: 300px;
    width:837px;
    padding-left: 15px;
    padding-top: 28px;
}
::placeholder { 
font-family:'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: black;
}

.now{
    width: 270px;
    height: 64px;
font-family:'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
line-height: 30px;
background-color: black;
color: #FFFFFF;
font-size: 24px;
margin-left: 60.5%;
margin-top: 2%;
padding:20px;
text-align: center;
border: none;
}
.Address{
    font-family:'Poppins', sans-serif;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size:16px;
    margin-top:8%;
    margin-left: 8%;
}
.Address span{
    font-size:24px ;
}
li{
    display: flex;
    gap:50px;
    margin-top: 30px;
}
ul{
    list-style: none;
    font-family:'Poppins', sans-serif;
    margin-top: 10%;
    line-height:27px;
    
}
ul h1{
    font-weight: 500;
}
.pri{
    display: flex;
    flex-direction:row;
    gap:300px;
   
}
.about{
    margin-left:8%;
}
.splash h1{
    font-size:50px;
    margin-top:-1%;
    margin-left: 9%;
}
.splash p{
    margin-left: 9%;
    font-size: 15px;
    font-weight: 100;
    margin-top: 18px;
}
.splash{
    display:flex;
    flex-direction: row;
    margin-top:2%;
}
.icons{
    font-size: 30px;
    display: flex;
    gap:60px;
    margin-left:40%;
}
.icons img{
    width:22.4px;
    height:22.4px;

}
footer{
    background-color: white;
    height: 760px;
}